<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disponiveis</title>
</head>
<body>

<h1>Acervo Disponível</h1>

<a href="/" style="margin-right: 20px;">Início</a>
<a th:href="@{/livros}">Acervo Total</a>
<a th:href="@{/livros/emprestados}">Acervo Emprestado</a>

<table border="1" cellpadding="8" cellspacing="0" style="margin-top: 20px;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Ano de Publicação</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.id}"></td>
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.anopub}"></td>
        <td th:text="${livro.status}"></td>
    </tr>

    <tr th:if="${livros.size() == 0}">
        <td colspan="3">Nenhum livro cadastrado.</td>
    </tr>
    </tbody>
</table>

</body>
</html>